<div class="row">
	<div class="col-md-4">
	<%= @clinic.clinic_name %>
	<h3>List of Appointments:</h3>
		<ul>
			<% @appointments.each do | appointment|%>
				<li><%= appointment.first_name + " " + appointment.last_name + " -- " + Date.parse(appointment.preferred_date.to_s).strftime("%B %e, %Y") + " " + DateTime.parse(appointment.preferred_date.to_s).strftime("%l:%M %p")  %> <%= link_to "Edit", edit_clinic_appointment_path(@clinic, appointment)%> | <%= link_to "Add Patient", clinic_appointment_path(@clinic, appointment) %></li>
			<%end%>
		</ul>
		
	</div>
	<div class="col-md-8">
	
		<% @clinic %>
		<% if @clinic == nil %>
			<%= link_to "Add Clinic", new_clinic_path %>
		<%end%>
	</div>
</div>
