<div class="row">
	<div class="mainbody-container">
		<h1>Create Clinic</h1>

		<%= form_for @clinic do |f| %>
			<%= render "shared/error_message", :target => @clinic %>
			<div class="form-group">
				<%= f.label :clinic_name, "Name of Clinic" %>
				<%= f.text_field :clinic_name, autofocus: true, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :address, "Clinic Address" %>
				<%= f.text_field :address, autofocus: true, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :city, "City" %>
				<%= f.text_field :city, autofocus: true, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :province, "Province" %>
				<%= f.text_field :province, autofocus: true, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :telephone_number, "Telephone #" %>
				<%= f.text_field :telephone_number, autofocus: true, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :mobile_number, "Mobile #" %>
				<%= f.text_field :mobile_number, autofocus: true, class: 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :description, "Clinic description" %>
				<%= f.text_area :description, size: "20x5",autofocus: true, class: 'form-control',placeholder: "Description of your Clinic" %>
			</div>
			<div class="actions">
				<%= f.submit "Create Clinic", class: "btn btn-primary btn-block" %>
			</div>

		<% end %>
	</div>
</div>