<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
      <ul class="nav navbar-nav">
      
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><%= link_to "Set Appointment", new_clinic_appointment_path(current_user.id) %></li>
        <li><%= link_to "Doctors", clinic_doctors_path(current_user.id)%></li>
        <li><%= link_to "Patients", patients_path %></li>
        <!-- <li><a href="/">Patients</a></li>
        
        <li><a href="/">Transactions</a></li>
        <li><a href="/">Payments</a></li>
        <li><a href="/">Services</a></li> -->
        
      </ul>
      <% end %>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "Hi, "+current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">View Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Sign-out", destroy_user_session_path, :method => 'delete' %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

