<%= form_for(@doctor, {:url => clinic_doctors_path(@clinic)}) do |f| %>
	<%= render "shared/error_message", :target => @doctor %>
	<div class="form-group">
		<%= f.label :first_name, "First Name" %>
		<%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :middle_name, "Last Name" %>
		<%= f.text_field :middle_name, autofocus: true, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :last_name, "Last Name" %>
		<%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :birthdate, "Birthday" %>
		<%= f.text_field :birthdate, autofocus: true, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :prc_number, "PRC Number" %>
		<%= f.text_field :prc_number, autofocus: true, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :contact_num, "Mobile #" %>
		<%= f.text_field :contact_num, autofocus: true, class: 'form-control' %>
	</div>
	
	<div class="actions">
		<%= f.submit "Create Clinic", class: "btn btn-primary btn-block" %>
	</div>

<% end %>