<div class="row">
	<h2>List of Doctors</h2>
	<ul>
		<% @doctors.each do | doctor | %>
		
			<li><%= link_to doctor.first_name + " " + doctor.last_name, edit_clinic_doctor_path(@clinic, doctor) %></li>
		<%end%>
	</ul>

	<%= link_to "Add Doctor", new_clinic_doctor_path %>
</div>