<div class="row">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-8">
		<div class="mainbody-container">
			<h1>Add Doctor</h1>
				<%= render "shared/doctor/doctor_new_edit" %>
			
		</div>
	</div>
	
</div>