<div class="row">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-8">
		<div class="mainbody-container">
			<h1>Set Appointment</h1>

			<%= form_for( @appointment,:url => {:action => 'update', :id => @appointment}) do |f| %>
				<%= render "shared/error_message", :target => @appointment %>
				<div class="form-group">
					<%= f.label :first_name, "First Name" %>
					<%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= f.label :middle_name, "Middle Name" %>
					<%= f.text_field :middle_name, autofocus: true, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= f.label :last_name, "Last Name" %>
					<%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
				</div>
				
				<div class="form-group">
					<%= f.label :preferred_date, "Select Date" %>
					<%= f.datetime_select :preferred_date, min: Date.today,:minute_step => 60 ,:ampm => true, :order => [:month, :day, :year], :start_year => Time.now.year, autofocus: true, class: 'form-control' %>
				</div>
				<div class="form-group">
					<%= f.label :contact_number, "Mobile #" %>
					<%= f.text_field :contact_number, autofocus: true, class: 'form-control' %>
				</div>
				<div class="actions">
					<%= f.submit "Submit", class: "btn btn-primary btn-block" %>
				</div>

			<% end %>
		</div>
	</div>
	
</div>