
<div class="row">
  <div class="col-md-12">
    <h2>Appointee Details</h2>
    <p><span>First Name: </span><%= @appointment.first_name + " " + @appointment.middle_name + " " + @appointment.last_name %></p>
    <p><span>Time of Appointment: </span><%= Date.parse(@appointment.preferred_date.to_s).strftime("%B %e, %Y") + " " + DateTime.parse(@appointment.preferred_date.to_s).strftime("%l:%M %p") %></p> 
  </div>
  <div class="col-md-6">
     
    <div class="row">
      <div class="col-md-12">
          <h3>Add New Patient</h3>

          <%= form_for @patient  do |f| %>
            <%= render "shared/error_message", :target => @patient %>
            <%= hidden_field_tag 'appointment_id', @appointment.id %>
            <div class="col-md-6 form-group">
              <%= f.label :first_name, "First Name" %>
              <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :middle_name, "Middle Name" %>
              <%= f.text_field :middle_name, autofocus: true, class: 'form-control' %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :last_name, "Last Name" %>
              <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :occupation, "Occupation" %>
              <%= f.text_field :occupation, autofocus: true, class: 'form-control' %>
            </div>
             <div class="col-md-12 form-group">
              <%= f.label :home_address, "Home Address" %>
              <%= f.text_field :home_address, autofocus: true, class: 'form-control' %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :home_city, "City" %>
              <%= f.text_field :home_city, autofocus: true, class: 'form-control' %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :home_province, "Province" %>
              <%= f.text_field :home_province, autofocus: true, class: 'form-control' %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :contact_number, "Mobile Number" %>
              <%= f.text_field :contact_number, autofocus: true, class: 'form-control' %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :birthdate, "Date of Birth" %>
              <%= f.date_field :birthdate, autofocus: true, class: 'form-control' %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :gender, "Gender" %>
              <%= f.select :gender,['Male', 'Female']%>
              <%= %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.label :marital_status, "Marital Status" %>
              <%= f.select :marital_status, ['Single', 'Married', 'Widow'] %>
            </div>  
            

            <div class="actions col-md-6">
              <%= f.submit "Add Patient", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
            <h3>Patient's Examination Record Chart</h3>
            <%= form_for @patientRecord, {:url => clinic_patientrecords_path(@clinic)}  do |f| %>
              <%= render "shared/error_message", :target => @patientRecord %>
              <%= hidden_field_tag 'appointment_id', @appointment.id %>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :datetime_schedule, "Date Schedule" %>
                <%= f.date_field :datetime_schedule, autofocus: true, class: 'form-control' %>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :occlucion, "Occlucion" %>
                <%= f.text_field :occlusion, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :periodontal_condition, "Periodontal Condition" %>
                <%= f.text_field :periodontal_condition, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :oral_hygiene, "Oral Hygiene" %>
                <%= f.text_field :oral_hygiene, autofocus: true, class: 'form-control' %>
              </div>

             <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :denture_location, "Denture Location" %>
                <%= f.text_field :denture_location, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :denture_since, "Denture Since" %>
                <%= f.date_field :denture_since, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6form-group">
                <%= f.label :abnormalities, "abnormalities" %>
                <%= f.text_field :abnormalities, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :general_condition, "General Condition" %>
                <%= f.text_field :general_condition, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :nature_of_treatment, "Nature of Treatment" %>
                <%= f.text_field :nature_of_treatment, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :allergies, "Allergies" %>
                <%= f.text_field :allergies, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :bleeding_history, "History of Bleeding" %>
                <%= f.text_field :bleeding_history, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :chronic_ailments, "Chronic Ailments" %>
                <%= f.text_field :chronic_ailments, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :blood_pressure, "Blood Pressure" %>
                <%= f.text_field :blood_pressure, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                <%= f.label :drug_taken, "Drug Taken" %>
                <%= f.text_field :drug_taken, autofocus: true, class: 'form-control' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                <%= f.submit "Save New Record", class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
        </div>
    </div>
</div>
