<!DOCTYPE html>
<html>
<head>
  <title>DentalReservation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=render "shared/navbar" %>




<div class="container-fluid">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
